@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Rubik';
    background-color: aqua;
    background-image: url('./assets/trees.png');
    background-size: 10%;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 1rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    border-radius: 4px;
    font-family: inherit;
    border: 1px solid black;
    padding-inline: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    color: inherit;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 2px 2px 4px black;
}

h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 500;
    font-size: 1.4rem;
}

h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 500;
    font-size: 1.2rem;
}

.linksContainer:not(.yourInvites) *:first-child {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.linksContainer {
    background-color: rgba(0, 0, 0, .7);
    padding-inline: .5rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-overflow: ellipsis;
    padding-inline: 2rem;
    position: relative;
}

.link.active {
    cursor: pointer;
}

.link:hover span:after {
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid white; 
    content: "";
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translate(0, -50%);
}

.noActiveMsg {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-align: center;
}

.newChatBtnWrapper {
    display: flex;
    justify-content: center;
}

.newChatBtn:hover {
    background-color: rgba(0, 0, 0, .5);
    transform: scale(1.05);
    transition: transform .1s ease-out;
}

.newChatBtn:active {
    border: 1px solid rgba(255, 255, 255, .7);
}

.inviteBtnsWrapper {
    padding-top: .5rem;
}

.inviteBtnsWrapper button {
    border-radius: 4px;
    border: none;
    font-size: .75rem;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px black;
}

.inviteBtnsWrapper button:hover {
    transform: scale(1.05);
    transition: transform .1s ease-out;
    background-color: lightblue;
}

.invite.link.removing {
    animation-name: removing;
    animation-duration: .2s;
    animation-fill-mode: forwards;

}

@keyframes removing {
    100% {
        transform: scaleY(0);
    }
}