@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Rubik';
    background-color: aqua;
    background-image: url('./assets/trees.png');
    background-size: 10%;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 1rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 500;
    font-size: 1.4rem;
}

.newMessageForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    resize: none;
    align-self: stretch;
    min-height: 5rem;
    opacity: .8;
    border-radius: 4px;
    padding: .25rem;
}

.textAreaWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.btnWrapper {
    display: flex;
    justify-content: center;
}

.messageContainer {
    background-color: white;
    opacity: .7;
    border-radius: 6px;
    padding: 1rem;
    color: black;
}

.messageContainer .sender {
    font-size: .7rem;
    font-weight: 500;
    margin: 0;
}

.messageContainer p {
    margin: 0;
    margin-top: 1rem;
}