<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="/chat/chat.js"></script>
    <link rel="stylesheet" href="/chat/chat.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta class="roomId" data-room-id="<%- locals.roomId %>">
    <meta class="userId" data-user-id="<%- locals.userId %>">
    <meta class="username" data-user-id="<%- locals.username %>">
    <title>Messenger AI - Chat</title>
</head>
<body>
    <header>
        <h1>Messenger AI</h1>
    </header>
    <main>
        <section class="btnsWrapper">
            <button class="inviteBtn">Invite to Chat</button>
        </section>

        
        <section class="messages">
        </section>
        
        <form class="newMessageForm">
            <div class="textAreaWrapper">
                <label for="msg">Message</label>
                <textarea id="msg" name="msg" type="text"></textarea>
            </div>
            <div class="btnWrapper">
                <button class="sendBtn" type="button">Send</button>
            </div>
        </form>
    </main>
    <div class="inviteModal modal" style="display: none;">
        <form>
            <div class="closeBtnWrapper">
                <button type="button" class="closeBtn">X</button>
            </div>

            <div class="inputWrapper">
                <label for="friendName">Friend's Username</label>
                <input id="friendName" type="text"/>
            </div>

            <div class="btnWrapper">
                <button class="formInviteBtn" type="button">Invite</button>
            </div>
        </form>
    </div>
</body>
</html>