<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/index/index.js"></script>
    <link rel="stylesheet" href="/index/index.css"/>
    <title>AI Messenger - Home</title>
</head>

<body>
    <header>
        <h1>Messenger AI</h1>
    </header>

    <main>
        <div class="yourChatsSection">
            <h2>Your Chats</h2>
            <section class="yourChats">
                <%if (locals.rooms && locals.rooms.length) {%>
                    <%locals.rooms.forEach((room) => {%>
                        <article class="chat active" data-room-id='<%=room.id%>'><%=room.name%><span></span></article>
                    <%})%>
                <%}%>
                <%if (!locals.rooms || !locals.rooms.length) { %>
                    <article class="chat noActiveMsg">You have no active chats</article>
                <%} else {%>
                    <article class="chat noActiveMsg"></article>
                <%}%>
            </section>
        </div>
        <div class="newChatBtnWrapper">
            <button class="newChatBtn">Start a chat</button>
        </div>
    </main>
</body>

</html>