<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger Ai</title>
</head>

<body>
    <h1>PLACEHOLDER INDEX</h1>    
</body>

</html>