<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/register/register.js"></script>
    <link rel="stylesheet" href="/register/register.css"/>
    <title>Register</title>
</head>
<body>
    <header>
        <h1>Messenger AI</h1>
    </header>
    <main>
        <form action="/register" method="POST">
            <h2>Register</h2>
            <div class="fieldWrapper">
                <label for="email">Email</label>
                <% if (locals.errorMessages) { %>
                    <% if (errorMessages.email) { %>
                        <span class="errorMsg">
                            <%=errorMessages.email%>                    
                        </span>
                    <% } %>
                <% } %>
                <input id="email" type="email" name="email"/>
            </div>
            <div class="fieldWrapper">
                <label for="username">Username</label>
                <% if (locals.errorMessages) { %>
                    <% if (errorMessages.username) { %>
                        <span class="errorMsg">
                            <%=errorMessages.username%>                    
                        </span>
                    <% } %>
                <% } %>
                <input id="username" type="text" name="username"/>
            </div>
            <div class="fieldWrapper">
                <label for="password">Password</label>
                <% if (locals.errorMessages) { %>
                    <% if (errorMessages.password) { %>
                        <span class="errorMsg">
                            <%=errorMessages.password%>                    
                        </span>
                    <% } %>
                <% } %>
                <input id="password" type="password" name="password"/>
            </div>
            <button type="submit">Submit</button>
        </form>
        <section class="loginInfo">
            <span>Already have an account?</span><a href="/login">Sign in here.</a>
        </section>
    </main>
</body>
</html>